**Suma y resta:** crea una función que reciba una lista con dos números. Imprime la suma de los dos números y regresa la resta de los dos números.
Ejemplo: suma_y_resta([5, 4]) debe de imprimir 9 y regresar 1

#algo

In [ ]:
print("Crea el archivo un Python llamado funciones_basicas_2.py")
print()
print("Crea la función multiplica_por_dos(num)")

def multiplica_por_2(n):
    # Crea una lista con los números multiplicados por 2
    return [i * 2 for i in range(n + 1)]

# Ejemplo de uso
resultado = multiplica_por_2(5)
print(resultado)  # $ python funciones_basicas_2.py: [0, 2, 4, 6, 8, 10]

###Dataframe

In [ ]:
import pandas as pd

# Crear un diccionario con datos
data = {
    'Nombre': ['Ana', 'Juan', 'Luis'],
    'Edad': [28, 34, 45],
    'Ciudad': ['Santiago', 'Valparaíso', 'Concepción']
}

# Crear un DataFrame a partir del diccionario
df = pd.DataFrame(data)

# Mostrar el DataFrame
print(df)

In [1]:
import pandas as pd

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv('c:/varios/datosBootcamp/empleados.csv', encoding='latin1')

# Mostrar las primeras 5 filas del DataFrame
print(df.head())

       Nombre  Edad       Ciudad
0         Ana    28     Santiago
1        Juan    34   Valparaíso
2        Luis    45   Concepción
3  Alejandro     56  Villa Elisa
4       Luisa    47  Villa Elisa